
header nav div img {
    height: 40px;
}

header nav ul li a {
    text-decoration: none;
    color: #5D5D5D;
    font-weight: bold;
}

header nav ul li a:hover,
header nav ul li a.active {
    background-color: #ffd6dc;
    color: var(--primary-color);
}

header nav ul li:first-child a {
    background-color: var(--primary-color);
    color: #fff;
}

.search-button:hover {
    background-color: darken(var(--primary-color), 10%);
}

header nav div:last-child {
    display: flex;
    align-items: center;
}

header nav div:last-child a {
    margin: 0 10px;
}

header nav div:last-child img {
    height: 24px;
    transition: transform 0.3s;
}

header nav div:last-child a:hover img {
    transform: scale(1.1);
}

footer #join-us {
    color: var(--on-primary-color);
    margin: 0;
}

footer h2 {
    font-size: 24px;
    color: #222;
}

footer p {
    font-size: 16px;
    color: #333;
}

footer form {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: start;
    width: 120px;
}

footer nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer nav ul li {
    margin: 15px 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

footer nav ul li a:hover {
    color: #007bff;
}

footer .social-media,
footer .payment-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

footer .social-media a,
footer .payment-options img {
    margin: 0 10px;
}

footer .social-media img,
footer .payment-options img {
    width: 30px;
    height: 30px;
}

footer .social-media p,
footer .payment-options p {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
}