footer {
  font-family: var(--font-family);
  color: var(--color-dark);
  background: var(--primary-color-light);
}

footer #join-us {
  color: var(--on-primary-color);
  margin: 0;
}

footer section[aria-labelledby="join-us"] {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--background-dark);
  padding: 50px 100px;
  margin: 0;
  width: 100%;
}

footer section[aria-labelledby="join-us"] p {
  text-align: left;
  width: 443px;
  margin: 10px 0;
  color: #96a0a6;
}

footer section[aria-labelledby="join-us"] form {
  margin: 0;
  display: flex;
}

footer section[aria-labelledby="join-us"] form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: var(--main-normal-text-size);
  margin: 0 5px;
}

footer section[aria-labelledby="join-us"] form button {
  padding: 10px 20px;
  border: none;
  background-color: #e63946;
  color: var(--color-light);
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--main-normal-text-size);
}

/* footer-bottom */
footer section[aria-labelledby="footer-bottom"] {
  padding: 10px 50px;
}

footer section[aria-labelledby="footer-bottom"] > button {
  background: var(--primary-color-light);
  border: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

footer section[aria-labelledby="footer-bottom"] > button img {
  margin: 0;
}

footer h2 {
  font-size: var(--main-title-size);
  margin-bottom: 10px;
  color: #222;
}

footer p {
  font-size: var(--main-normal-text-size);
  line-height: 1.5;
}

footer form {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: start;
  width: 120px;
}

/* footer features */
section[aria-labelledby="features"] {
  margin: 0;
}

.features-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.features-grid article {
  text-align: center;
}

.features-grid img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.features-grid h3 {
  font-size: var(--main-title-size);
  margin-bottom: 5px;
  color: #0c64f7;
}

.features-grid p {
  font-size: var(--main-normal-text-size);
  color: #0c64f7;
}

.features-grid article span {
  width: 20px;
  font-size: var(--main-normal-text-size);
  color: #96a0a6;
}

/* disclaimer */
section[aria-labelledby="disclaimer"] {
  margin: 0;
}

section[aria-labelledby="disclaimer"] > header {
  background: var(--primary-color-light);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

section[aria-labelledby="disclaimer"] header > button {
  margin: 0;
  border: none;
  background: var(--primary-color-light);
}

section[aria-labelledby="disclaimer"] header p {
  color: #1e2d7d;
  text-align: center;
}

section[aria-labelledby="disclaimer"] > p {
  padding-top: 5px;
  line-height: 2.5;
  color: #000;
  text-align: start;
  column-gap: 5;
  margin: 0;
  font-size: var(--main-normal-text-size);
}

#disclaimer {
  border-radius: 5px;
  margin: 0;
  font-weight: 100%;
}

#disclaimer h2 {
  font-size: var(--main-title-size);
  margin-bottom: 5px;
}

#disclaimer p {
  font-size: var(--main-normal-text-size);
  color: #666;
}

/* footer-bottom--option */
section[aria-labelledby="footer-bottom-option"] {
  width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

section[aria-labelledby="footer-bottom-option"] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section[aria-labelledby="footer-bottom-option"] ul li {
  font-size: var(--main-normal-text-size);
  /* padding: 5px 10px; */
}

section[aria-labelledby="footer-bottom-option"] ul li a {
  text-decoration: none;
  color: #000;
}

section[aria-labelledby="footer-bottom-option"] .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

/* footer social media */
section[aria-labelledby="footer-bottom-option"] .social-media,
section[aria-labelledby="footer-bottom-option"] .we-accept {
  display: flex;
  align-items: center;
}

section[aria-labelledby="footer-bottom-option"] .social-media p,
section[aria-labelledby="footer-bottom-option"] .we-accept p {
  margin: 0 10px 0 0;
  color: #000;
  font-size: var(--main-normal-text-size);
}

section[aria-labelledby="footer-bottom-option"] .social-media img,
section[aria-labelledby="footer-bottom-option"] .we-accept img {
  margin: 0 5px;
}

section[aria-labelledby="footer-bottom"] > p {
  width: 100%;
  text-align: center;
}
