* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Header */
body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
    overflow-x: hidden;
    z-index: 1000;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav div img {
    height: 40px;
}

/* Navigation links */
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: var(--primary-color-light);
    height: 50px;
    border-radius: 50px
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #5D5D5D;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

header nav ul li a:hover,
header nav ul li a.active {
    background-color: #ffd6dc;
    color:var(--primary-color);

}

header nav ul li:first-child a {
    background-color: var(--primary-color);
    color: #fff;
}

/* Search bar */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container form {
    display: flex;
    align-items: center;
    background-color: var(--primary-color-light);
    border-radius: 50px;
    padding: 5px;
}

.search-input {
    border: none;
    padding: 10px;
    border-radius: 50px 0 0 50px;
    outline: none;
    font-size:var(--main-normal-text-size)
    width: 200px; /* Adjust width as needed */
    background-color: transparent;
}

.search-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.search-button img {
    width: 16px; /* Adjust icon size as needed */
    height: 16px;
}

.search-button:hover {
    background-color: darken(var(--primary-color), 10%); /* Darken color on hover */
}


/* User profile, favorites, and cart icons */
header nav div:last-child {
    display: flex;
    align-items: center;
}

header nav div:last-child a {
    margin: 0 10px;
}

header nav div:last-child img {
    height: 24px;
    transition: transform 0.3s;
}

header nav div:last-child a:hover img {
    transform: scale(1.1);
}
